@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
}

article header {
  border-bottom: 1px solid #999;
  margin-bottom: 1.3rem;
}

article header p {
  font-style: italic;
  margin-bottom: 1.3rem;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1.3rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  margin: 0;
  margin-bottom: 1.3rem;
}

.quote {
  color: #999;
  max-width: 43em;
}

article p {
  margin-top: 0;
  margin-bottom: 1.3rem;
}

article ol {
  margin-top: 0;
  margin-bottom:1.3rem;
}

h1 {
  margin: 0;
  padding-top: .3rem;
}

header p {
  margin-top: 0;
}

ol {
  padding: 0 1em;
  margin-bottom: 1.3rem;
}
